<section class="banner-pub_menu">
    <div class="table_cell">
        <h2>PUB MENU</h2>
        <div class="liner_wh"></div>
        <p>맛있는 음시이이이이익!<br>길거리 부스 & 주점 메뉴</p>
    </div>
</section>

<section>
    <ul class="bxslider">
        <li>
            <img src="/images/pic1.jpg" />
            <img src="/images/pic2.jpg" />
            <img src="/images/pic1.jpg" />
            <img src="/images/pic2.jpg" />
            <img src="/images/pic1.jpg" />
        </li>
        <li><img src="/images/pic2.jpg" /></li>
        <li><img src="/images/pic3.jpg" /></li>
        <li><img src="/images/pic4.jpg" /></li>
    </ul>
</section>

<section class="live-re layout-wrapper">
    <!-- 라이브리 시티 설치 코드 -->
    <div id="lv-container" data-id="city" data-uid="MTAyMC8yODcyNi81Mjk3">
    <script type="text/javascript">
       (function(d, s) {
           var j, e = d.getElementsByTagName(s)[0];
    
           if (typeof LivereTower === 'function') { return; }
    
           j = d.createElement(s);
           j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
           j.async = true;
    
           e.parentNode.insertBefore(j, e);
       })(document, 'script');
    </script>
    <noscript>라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
    </div>
    <!-- 시티 설치 코드 끝 -->
</section>